[2015-05-26 16:20] jpadilla opened #1 "Tracking response"
Great work! I have a similar mixin and have found it useful to also track the actual response. Would that be something useful to add to this project?

[2015-05-26 18:12] aschn commented on #1
Thanks! Yes, that's a great idea. I'm adding an implementation of this, feedback/PRs welcome.

[2015-05-26 18:12] #1 closed

[2015-05-27 01:41] jpadilla commented on #1
Beat me to it, great stuff. Thanks!

[2015-06-04 20:06] aschn opened #2 "Track status code"
Add a `status_code` field to the model, mixin, and admin list filter.

[2015-06-10 07:06] #2 closed

[2015-06-11 05:37] aschn opened #4 "404 should be tracked"
Responses with status 404 should be logged. Currently, requests to a missing url are not logged.

[2015-11-07 04:44] amanjain opened #8 "user in APIRequestLog should not be a ForeignKey to User model"
Having foreign keys to User model doesn't allow us to store logs in a separate database.

[2015-11-27 05:06] mayankkapoor opened #9 "overridden initialize_request raises Exceptions in scenarios where user is not Authenticated"
Hi, this module is exactly what I'm looking for, in order to track usage of our APIs. After installing and adding to DRF ViewSets, some scenarios raise Exceptions instead of gracefully handling them.
[code]
Here I was trying to test if my API returns the correct status code if Token is invalid.
[code]
Here I was trying to test if my API returns the correct status code if User is inactive/deleted.

[2015-12-22 00:19] aschn commented on #8
Hmm, what would work better for you? How about a ForeignKey to AUTH_USER_MODEL?

[2015-12-22 00:19] #4 closed

[2016-01-04 19:52] #9 closed

[2016-01-27 00:56] zatarus opened #16 "http 500 to be handled"
Any http 500 error causes log to have status code not assigned and response ms to 0. It would be nice to see the trace instead.

[2016-04-03 15:01] aschn commented on #16
@zatarus want to take a look at PR #18 and see if it works for you? thanks :)

[2016-04-09 21:03] zatarus commented on #16
Hey @aschn, thank you for taking time on this. I have found a behavior with drf, where if response is empty, it will raise the exception itself (regardless of debug mode) and prevent mixin's handling. Here is the location:

https://github.com/tomchristie/django-rest-framework/blob/78e4ea0d6e88a7b355ec3e790ef0e8f95859ca2d/rest_framework/views.py#L434

Default exception function by restframework als

[2016-04-15 13:06] dvinegla opened #19 "Add support for MySQL backend"
Add support for MySQL backend
https://github.com/aschn/drf-tracking/commit/83448b73c2f954b420b6a31a19fa26e113a48246
was dropped in  split migrations
https://github.com/aschn/drf-tracking/commit/b138fcbcbcf798310b97186269bac148c3febe3c

[2016-04-15 13:15] dvinegla opened #20 "User filtering in admin"
This filter
list_filter = (**'user'**, 'path', 'method', 'status_code')
is a bit annoying if you have +1000 users.

and can you add
raw_id_fields = ('user', )
to APIRequestLogAdmin class ?

[2016-05-06 20:20] zatarus commented on #20
I have a pending pull request on first part of the suggestio:. https://github.com/aschn/drf-tracking/pull/21

[2016-06-16 06:47] solvire opened #23 "Transactions breaking on creation if logging."
I am getting an error with logging on write operations.

The DB is PostgreSQL 9.5 and using latest Django Rest Framework.

Has anyone else run into this issue. I didn't notice anything in the issues.

[2016-07-13 11:39] tomas789 opened #24 "Different python version requirements"
Hi,

there are different python version requirements listed here in readme and at http://drf-tracking.readthedocs.io/en/latest/#requirements

README:
- Python 2.7
- Django (1.7, 1.8. 1.9)
- Django REST Framework (3.0, 3.1, 3.2, 3.3)

Web:
- Python (2.7, 3.3, 3.4)
- Django (1.6, 1.7)

[2016-09-22 12:45] Jerry49Taylor commented on #23
I get this too.

LoggingMixin.finalize_response needs last line changed to use on_commit

transaction.on_commit(self.request.log.save )

[2016-10-09 09:36] tkrevh opened #27 "AttributeError: 'Request' object has no attribute 'log'"
If there is a problem with parsing the posted JSON to DRF API endpoint, drf-tracking raises this exception and causes Internal Server Error. Reason is that inside LoggingMixin.initial if there is a ParseError thrown on data_dict = request.data.dict() self.request.log is never set, but finalize_response gets called anyway.

Problem is, you never get to see the actual problem (i.e. `{"detail":"JSON

[2016-11-07 21:04] avelis commented on #19
The problem revolves around the `query_params` field with `db_index` set to `True`. There is an MySQL InnoDB restriction that text field based indices must have a defined length.

So, in theory you could either drop the `db_index=True` or specify a length parameter for the index to enforce.

I am in favor of dropping the index requirement.

[2016-11-10 07:11] adavanisanti opened #28 "Is there a way to write this data to a file instead of the database?"
Hi - I am trying to get API tracking data for several APIs. In order to analyze this data later, I am wondering if there is a way to switch the data writes to a file instead of DB.

Thanks
Santi

[2016-11-11 19:21] victorx98 opened #29 "MySQL error: BLOB/TEXT column 'query_params' used in key specification without a key length""
Here is what I learned from MySQL manual (http://dev.mysql.com/doc/refman/5.7/en/create-index.html):
"Prefixes must be specified for BLOB and TEXT column indexes."

[2016-11-15 01:57] avelis commented on #28
@adavanisanti Right now, no. Unless, we abstract the database backend to write the table data to a file. Could use a 3rd party file database backend (CouchDB perhaps). I don't know of one off the top of my head.

Writing tracking data to a file is certainly an interesting proposition. However, I could easily see the scenario where the file size could grow to be rather large very quickly.

[2016-11-15 02:04] avelis commented on #29
@victorx98 For clarification is this related to #19 ? Whereby the db_index argument for the query_params field does not have length argument defined?

[2016-11-15 02:10] avelis commented on #20
@dvinegla I have merged the PR provided by @zatarus .

[2016-11-15 02:41] adavanisanti commented on #28
@avelis Thanks for your response. I am planning to use AWS S3 to take care of file size problem and process the file(s) using one of the big data frameworks to get some insights later. One reason to move to a file is that it is cheaper than database :).

[2016-11-15 06:49] avelis commented on #28
@adavanisanti If you really want to use this library to send to S3 my best suggestion at the moment is to subclass the LoggingMixin to customize the needs of what you are looking for. Python has a S3 client (Boto I believe) You could even override the method's to not persist records at all.

If you felt inclined you could create a custom signal that could get called and listened to within the Logg

[2016-11-15 06:53] adavanisanti commented on #28
@avelis Sure. I will add this to my todo list. Will do my best and submit a PR.

[2016-11-15 06:55] avelis commented on #28
@adavanisanti Sure thing! Contributions are always appreciated. :-D

[2016-11-20 19:04] #24 closed

[2016-11-23 18:24] avelis commented on #19
Addressed in release: https://github.com/aschn/drf-tracking/releases/tag/1.0.0

[2016-11-23 18:24] avelis commented on #20
Addressed in release: https://github.com/aschn/drf-tracking/releases/tag/1.0.0

[2016-11-23 18:24] #20 closed

[2016-11-23 18:25] avelis commented on #29
This _should_ be addressed the following release: https://github.com/aschn/drf-tracking/releases/tag/1.0.0

If not please re-open

[2016-11-23 21:16] on1link commented on #27
Hi, how is the state of this bug, I have problem with this. Thanks

[2016-11-28 16:58] mszacun commented on #29
Hi, for me problem still exists, index on query_params is still there in migration, and index length parameter is missing. I get exactly the same error:
`django.db.utils.OperationalError: (1170, "BLOB/TEXT column 'query_params' used in key specification without a key length")  `

[2016-11-29 20:14] avelis commented on #29
@mszacun I misread the migration file change. It updated another field and not the query_params field. Sorry about that.

[2016-11-30 02:29] #29 closed

[2016-11-30 09:33] mszacun commented on #29
Are you going to make a release? I would like to use this package in my project.

[2016-11-30 18:28] avelis commented on #29
@mszacun Yes, I plan to make another release by end of week.

[2016-11-30 23:33] victorx98 commented on #29
I forked the repo and made some changes(text field to char filed) myself: https://github.com/victorx98/drf-tracking/commit/efc2350b202d78cc2db9aed2763e381bb84ccae1

So far it is working fine to me.

Not sure what is in the upcoming release? I may want switch to it.

[2016-11-30 23:39] avelis commented on #29
@victorx98 I made some notes on the last release viewable [here](https://github.com/aschn/drf-tracking/releases/tag/1.0.0). With that said, there is still a necessary release I need to make to finally address MySQL support.

A lot of thanks goes to @jameshiew his time and contribution's to this repo in getting MySQL support going and tested via TravisCI.

[2016-12-15 14:27] mmehdi opened #33 "Log custom Headers information"
Hi
If possible to log custom headers information? I want to track secret keys which are part of the Post header.

Thanks

[2016-12-16 01:41] avelis commented on #19
Addressed in the following release: https://github.com/aschn/drf-tracking/releases/tag/1.0.1

[2016-12-16 01:41] #19 closed

[2016-12-16 01:42] avelis commented on #33
@mmehdi I think it's a decent feature. Not sure at the moment how best to log/store headers. Possibly as a JSONField. I always welcome a PR if you have time. I can gladly take a look and merge it in.

[2016-12-16 09:33] mmehdi commented on #33
might be possible to implement in a similar way "logging_methods" is implemented. We can take custom headers by user. I can give it a try over the weekend.

[2017-01-18 18:37] #27 closed

[2017-01-27 14:50] alfdev opened #38 "AttributeError: 'Request' object has no attribute 'accepted_renderer'"
Seems there is the same problem like the #27 but now the missing attribute is 'accepted_renderer'.

I'm using:
drf-tracking (1.1.0)
django-rest-swagger (0.3.5)
Django (1.10.5)

Thanks

[2017-02-01 11:03] alfdev commented on #38
I've downgraded the following packages and now works:

Django from 1.10.5 to 1.10.2
djangorestframework from 3.5.3 to 3.5.1
drf-tracking from 1.1.0 to 1.0.1

maybe this info can help you to solve the bug.

[2017-02-01 16:51] avelis commented on #38
@alfdev Thats for the debugging info!

[2017-02-07 11:55] lexapi commented on #38
We are use Django 1.10.5 and djangorestframework 3.4.6 without drf-tracking  - same problem

[2017-02-20 01:01] CamelCaseNotation commented on #38
Could you post your settings.py file in your project directory please? I am having the same issue :(

[2017-02-20 23:28] avelis commented on #38
Following my gut feeling to this, it would appear the Request object is not being converted to a DRF-Request object prior to accessing the `accepted_renderer` attribute. How and why is really the point of investigation.

Since, LoggingMixin is added per view I would look into the inheritance tree and start eliminating if it's a DRF + DRF-tracking issue or isolated to one library vs the other.

[2017-02-28 17:19] SimKennedy opened #43 "Simple way to disable/limit the size of the response stored in the database"
Hi,

Thanks for the useful plugin!

Since some of our API responses can be large, the log table is becoming slow to load due to the size of the response column. They are cropped to [204K], (I think due to Django/postgres?), but this  is still a lot and means we have to update the column data manually to get sensible performance.

Is there an easy way to turn off or limit the size of the response s

[2017-03-01 01:31] avelis commented on #43
@SimKennedy There is no drf-tracking setting to disable storage based on response body to be stored. You could use Django's `pre_save` signal to listen to the model save and do some data pre-processing before the save hits the db. Thats might best immediate suggestion.

[2017-03-02 13:55] SimKennedy commented on #43
Thanks @avelis! That worked perfectly. :+1:

Sorry for the noob question. I am still learning Django and didn't know how easy it is to intercept signals.

[2017-03-03 20:02] avelis commented on #43
No apologies needed. Glad it worked out!

[2017-03-03 20:02] #43 closed

[2017-03-03 22:39] triat commented on #16
I think this one can be closed now with the new PR that you just merged @avelis

[2017-03-03 22:41] avelis commented on #16
@triat I will close it when I get a release out. Keeps me honest to get it out.

[2017-03-03 22:57] triat commented on #16
No worries :) I'm just trying to follow things correctly :) Thanks for your time

[2017-03-07 16:16] i4s-acarrasco commented on #38
We are having the same problem without drf-tracking:
Django 1.10.4
djangorestframework 3.5.3
The problem occurs after updating djangorestframework from < 3 to 3.5.3 and Django from 1.6.5 to 1.10.4

[2017-03-08 01:37] avelis commented on #16
Addressed in [version 1.2.0](https://github.com/aschn/drf-tracking/releases/tag/1.2.0) release.

[2017-03-08 01:37] #16 closed

[2017-03-11 06:23] mzmmohideen opened #44 "Does ApiLog contain before Db changes?"
Thanks for your contribution first.. its working fine currently i am getting data after request like put, patch was updated one. but  I want to have both updated and requested before change. is it possible ?

[2017-03-11 12:31] mzmmohideen opened #45 "I want request.data. how to override initial method?"
I want request.data too? how to override initial method? i wish to compare data before and after update. so i gone through Log Mixin , in that, you didnt update request.data into tables. so how to override my "def  initial()" mixin? to insert request.data too ...

[2017-03-12 17:14] triat commented on #44
@mzmmohideen Hello, it is not possible right now, you get the data incoming. I don't think this should belong to drf-tracking but more to your own code, maybe the others have different point of view

[2017-03-13 06:26] triat commented on #45
Hello @mzmmohideen, I'm not exactly sure to understand what you want to do.

You're trying to save request.data in your database or to compare those data ?

[2017-03-13 13:27] mzmmohideen commented on #45
@triat  either.. i want to compare the data changes between before and after change...

[2017-03-13 15:34] triat commented on #45
So, I don't think that the comparaison should be part of the tracking. For the request.data, I don't know what's missing from what you have now ? Do you have an exemple ?

[2017-03-14 03:36] avelis commented on #44
I am inclined to agree with @triat . However, so I can better understand what you are looking for, can you give an example of what you want to the APIRequestLog to have or store?

[2017-03-14 03:39] avelis commented on #45
@mzmmohideen The best I suggestion I can offer (I think) is to register a [pre_save](https://docs.djangoproject.com/en/1.10/ref/signals/#pre-save) and [post_save](https://docs.djangoproject.com/en/1.10/ref/signals/#post-save) signal and process the data there for comparison. This is the best I can offer with the limited understanding of your request.

[2017-03-14 15:42] facconi commented on #38
I have solved removing (commenting) the CoreJSONRenderer from the settings.
I hope this helps!

[2017-03-16 17:00] avelis commented on #38
@facconi Thanks for sharing your resolution. Would your solution work everyone or is it specific to your install settings?

[2017-03-16 18:43] facconi commented on #38
The real solution was that I was using the CoreJSONRenderer without having coreapi in the requirements.txt file.
Installing coreapi fixed the problem!
I think it's a solution that should work for everybody.

[2017-03-17 22:42] amankumarjain opened #47 "How to add this logging view to function based view"
is there any decorator to use it with functin based view?

[2017-03-20 02:21] avelis commented on #47
@amankumarjain At the moment one does not exist. Since, this library follows Django Rest Framework it is designed to be directly used as a class mixin. I am open to the idea but it would have to stay within the purview of DRF.

[2017-03-20 15:29] xgenvn commented on #23
I meet this too on MySQL, I have set ATOMIC_REQUESTS to True, is there any way to fix this?
I'm not familiar with transaction (so better to give up performance for safety).

[2017-05-18 22:08] ataylor32 opened #51 "Suggestions for admin.py"
I noticed that the `APIRequestLogAdmin` class allows users to add and edit records. If that's not needed, I would suggest making all of the fields read-only and adding this:

[code]

If it _is_ needed then could it be a setting so that developers can more easily disable the adding and editing of records? Probably two settings, actually (one for adding and one for editing).

As for deleting, I can

[2017-05-19 17:31] triat commented on #51
Hello @ataylor32, actually all this things could be managed through the groups and not a params in the settings.

Or maybe I don't understand correctly what you want, sorry

[2017-05-19 17:44] avelis commented on #51
@ataylor32 Admin editability can depend on a per user basis. Dictating it one way probably isn't the best idea. Now are people using the admin to edit track records is a whole other question. For high volume customers this wouldn't make sense much. Be better to handle it via the ORM.

Per app permissions can be handled with Django auth groups/permissions I haven't used that and wouldn't be able to

[2017-05-19 18:29] ataylor32 commented on #51
Thanks for the replies! I understand where you're coming from. If you want to leave things the way they are then I respect that. I'd like to explain my thinking, though.

I don't know why anybody—superuser or not—would need to add or edit a drf-tracking record. The purpose of drf-tracking, as I understand it, is to log real requests made to the site's API. If somebody adds or edits a record from t

[2017-05-31 13:22] Ratak opened #52 "Is it possible to call logging when status is 500, 404 etc only?"
Or to call logging when some conditions were fulfilled.
Mixin logs all requests to the view :(

[2017-05-31 16:16] avelis commented on #52
@Ratak The short answer is no. You could listen to a post save signal and check the status of logged data to only be 500 or 404 and delete anything else.

If you can think of a PR to enable a response status code filter I would be able happy to take a look at it and merge it in.

[2017-06-07 21:24] bkovacev commented on #27
Hello, I have stumbled upon the same thing on my test suite. I'm testing accessing the given resource without authentication.

[code]
Traceback:
Error
[code]

How do I approach this? @avelis @aschn

[2017-06-07 22:43] bkovacev opened #53 "AttributeError: 'Request' object has no attribute 'log' on TestCase"
Hello, I have stumbled upon the same thing on my test suite. I'm testing accessing the given resource without authentication.

[code]
Traceback:
Error

[code]
How do I approach this?

[2017-06-07 23:27] avelis commented on #53
@bkovacev Thanks for writing in. It looks like this an interesting fallout of two PR's https://github.com/aschn/drf-tracking/commit/210511e4ac66be55d91c56c22fa3e5643bee320e & https://github.com/aschn/drf-tracking/commit/ab25cb73123751cf4821488ea12ab241cd3ba5f9.

One adds error tracking and the other is to gracefully handle APIRequestLog saving failures. In your scenario when the handle_exception g

[2017-06-08 14:44] bkovacev commented on #53
Thank you for the reply! Let me see what I can do about it this weekend 👍 I'll keep you posted!

[2017-06-21 19:52] vince-stark commented on #53
This bug is also important for another reason - when a logged in user session expires, it triggers the same error, instead of following DRF's authentication scheme, and returning 403 where needed.

So, @bkovacev @avelis any updates? I can help as needed!

[2017-06-22 19:31] avelis commented on #53
@vince-stark I will say I am a little pressed for time to come up change to fix this. If you have the time. the issue I believe is the side effect of a failed initialized log (with a returning) and the handle_exception is called and no log attribute exists. This is the scenario that needs a unit test & fix.

[2017-06-23 04:26] vince-stark commented on #53
@avelis sounds good - I'll work on it 👍

[2017-06-23 04:44] avelis commented on #53
@vince-stark Thanks again for taking an interest in helping out the project. I am always accepting of contributions to make this library better.

[2017-07-10 15:35] bkovacev opened #56 "A valid _____ is required error due to _clean_data function"
The field is a float field. All other float fields work.

I can see how this would cause errors on

'capitalized_cost' (my field)
'keyless_entry'
'user_signature_jpg_url'

While I do not mind changing the name to cap_cost I'd still much rather not do it.

One possible suggestion for this fix is to add a '_' prefix / suffix.
because most of the times it will be:
'stripe_api_key'
'stripe_token'
'pay

[2017-07-11 09:58] pawanvirsingh commented on #47
how to use it with function base view is it possible to use it with function base api view.

[2017-07-13 15:34] frankie567 commented on #52
@avelis I've something about this in an [experimental branch](https://github.com/frankie567/drf-tracking/tree/drf-tracking-extended).

Basically, we introduce methods called at the beginning of the request and before returning response that return `true` if the request should be logged. Doing this, we allow developers to override these methods and introduce their own logic (e.g. log only response

[2017-07-13 19:55] avelis commented on #52
@frankie567 Yeah, make it a PR and I can take a look and potentially merge it in.

[2017-07-18 20:19] #52 closed

[2017-07-31 11:05] simone-chiorazzo opened #62 "AttributeError: 'FileResponse' object has no attribute 'rendered_content'"
Hi,

drf-tracking 1.2.0 crash if you use a DRF APIView that returns a FileResponse.
Could you fix this behaviour?

Thanks,
Simone

------
Crash report
------
Environment: development

Request Method: GET
Request URL: http://prm.mydevelopmentenv.com/api/export/files

Django Version: 1.8.18
Python Version: 3.3.5
Installed Applications:
('django.contrib.admin',
 'django.contrib.auth',
 'django.contri

[2017-07-31 19:50] avelis commented on #62
@simone-chiorazzo This could solved be changing the call from `response.rendered_content` to `response.getvalue()` . This covers any Response class inheriting from `django.http.HttpResponse`. I would ideally like to have unit tests for this though.

[2017-08-04 07:12] gbataille opened #64 "1.2.0 wheel on pypi contains 1.3.1 code!!!"
This seems to have happened yesterday, the wheel of 1.2.0 was updated but the content is not right.

![image](https://user-images.githubusercontent.com/1113065/28958060-07213866-78f5-11e7-9b24-1a8be2a51548.png)

[2017-08-04 07:13] avelis commented on #64
Yes

[2017-08-04 07:17] avelis commented on #64
@gbataille Thanks for pointing this out. I will get this sorted out. This was not my intention at all. I created 1.3.0 but forgot to update the version string in the project. Therefore the upload to PyPi of the wheel is incorrect. I will take that down and try to un tag the 1.3.0 release.

[2017-08-04 07:20] gbataille commented on #64
thanks.
This drove me crazy. all my builds started to fail all of a sudden (with
fresh venv).
The issue is the PR I submitted. Tom's code to obfuscate passwords actually
does not work with drf test, for a reason that slightly eludes me for the
moment.
The fix works though.

On Fri, Aug 4, 2017 at 9:17 AM, Andrew Velis <notifications@github.com>
wrote:

[2017-08-04 16:22] avelis commented on #64
@gbataille I have remove the published wheel but left 1.2.0 that was uploaded on March 8th. This should bring it back to what it was before the upload.

[2017-08-06 03:03] whippersnapper opened #65 "Toggle logging of certain fields"
Is there currently a way to enable/disable (toggling) logging of certain fields? For example, if I didn't want to capture the logging of `response` field. Would that be possible currently? TIA.

[2017-08-06 15:32] avelis commented on #65
@whippersnapper As far as I know there isn't a way to set that via a settings file. However, I can off to strip out the response data via Django model's `pre_save` signal.

[2017-08-06 15:36] avelis commented on #65
@whippersnapper The best suggestion for this kind of approach is to use a pre_save signal, or make a PR that acts as a pre-save-processor before the actual save.

[2017-08-06 19:14] whippersnapper commented on #65
@avelis Thanks for the fast feedback.

[2017-08-09 03:09] avelis commented on #64
@gbataille I am going to close this issue.

[2017-08-09 03:09] #64 closed

[2017-08-21 13:40] ozgurakcali opened #67 "With LoggingMixin, view functions get masked values for keys like "Key" and "Password""
LoggingMixin overrides request data for fields such as "password", "key" etc. not only while saving the request log, but **before the request is processed**. My view got a long string of asterixes instead of the user provided value for fields "Key" and "Password". Took me a good 2 hours to find the issue.

[2017-08-21 14:22] ozgurakcali commented on #67
Hi @triat , thanks for your reply. Will try that.

[2017-08-21 16:02] triat commented on #67
Let me know if it worked better @ozgurakcali

[2017-08-24 14:15] triat opened #69 "[STOPPED] Elastic search compatibility"
I'm currently working on a possibility to store data either in the database or in a elastic search cluster.

If you have idea or input regarding this feature, please share your thoughts here.

[2017-08-30 22:13] avelis commented on #69
First off, Thanks for working on this.

Some input:
1. The ability to augment the ES mapping from the standard mapping you might come up with when serializing an APIRequestLog to an ES cluster. Not sure if that is even worth while but might be something to consider.
2. Ensure data sending to an ES cluster uses the bulk API. However, this depends on volume though.
3. The ability to use a method ove

[2017-08-31 06:14] triat commented on #69
Hey @avelis,

Thanks for your input.

For the first shot, I keep everything really simple and as I'm still not a super user of ES (almost never used it before) I don't really see exactly what you mean by that but I'm sure if it's needed we can work on it later

How do you see that ? because I planned to send an event to ES every time a log is generated, otherwise it means that I have to store it s

[2017-09-08 08:59] veris-neerajdhiman opened #71 "Latest Release not downloading latest code"
- I have installed latest `Release 1.3.1` but it don't have latest code as you have in your master branch.

e.g.,
1) Earlier you have `_clean_data` as separate function but now you have moved it to class function and modified it too. Release 1.3.1 still have old code for this function  (I have checked source code of Release too)
2) The actual error I was getting is `TypeError: expected string or b

[2017-09-11 09:36] pawanvirsingh opened #72 "how to use it function base view"
how to use it function base view

[2017-09-12 11:48] triat commented on #71
Hello @veris-neerajdhiman, if you want to check if your error is fixed, you can also install the code from master directly with pip.

Let us know if the issue is still there

[2017-09-12 11:50] triat commented on #72
Hello @pawanvirsingh, can you be more precise in your question ? maybe give some code exemple ? Thanks

[2017-09-12 12:01] veris-neerajdhiman commented on #71
@triat  yes issue was still there so for now I have forked this repo and patched a host fix (foe loop) but you must verify the same at your end and apply permanent fix.

[2017-09-12 12:10] triat commented on #71
@veris-neerajdhiman can I propose that you do a PR if you already did the fix ? and write tests maybe ? Much appreciated

[2017-09-12 14:37] pawanvirsingh commented on #72
yes
# views.py
from rest_framework import generics
from rest_framework.response import Response
from rest_framework_tracking.mixins import LoggingMixin

class LoggingView(LoggingMixin, generics.GenericAPIView):
    def get(self, request):
        return Response('with logging')

this is for class base view

but if wanted it to use in function base  view
how could i use this .
like this module

@ap

[2017-09-13 07:12] veris-neerajdhiman commented on #71
@triat  PR #73  created for this issue, Please check

[2017-09-22 14:17] triat commented on #72
I'm not sure about what's you're trying to do there. What's your looking for is a middleware that log stuff, it's not the purpose of DRF-tracking I think.

[2017-09-22 18:15] pawanvirsingh commented on #72
hey @triat  I am saying that we are using drf tracking in class base view  (Django )  can we also use it in function base view -- like any other decorator.

[2017-09-22 20:36] avelis commented on #71
@veris-neerajdhiman @triat
I think the critical issue here that we are attempting force a `dict` copy on a post body that might not always translate to a dict. In that scenario we could consider using the polymorphic `copy.deepcopy` and make `_clean_data` be able to handle a list of dictionaries or just ignore cleaning a list structure.

Thoughts?

[2017-09-23 05:05] triat commented on #72
I'm not sure, this is really specific to DRF. You can try but again, that was not the main purpose there

[2017-09-25 07:00] veris-neerajdhiman commented on #71
@avelis
 - I have used `copy.deepcopy()`  you can check in my commits.
 - Secondly I think we should not ignore list structure as it may or may not include sensitive data.

[2017-10-14 09:06] billytotochan opened #78 "Fail for Bulk Create"
In `venv/lib/python3.5/site-packages/rest_framework_tracking/mixins.py", line 134, in _clean_data`

`if SENSITIVE_DATA.search(key):`

`TypeError: expected string or bytes-like object`

[code]
my post data is a json as following:

`   [{"foo": "200" ,"bar": "A", "fufu":"1"},{"foo": "200" ,"bar": "B", "fufu":"1"}]`

When i pass the data through Mixin and it crashed already. I have to skip using the

[2017-10-17 12:18] triat commented on #78
I think this is related to the PR #73 but it was never done.

I think someone will have to take it and post it again

[2017-10-23 23:44] Gnorizo commented on #67
I encountered this same issue, that sensitive fields were not only masked for logging but also overwritten with asterisks prior to being processed by the view, thus causing the view to fail.

I grabbed your latest code from master and can confirm that it fixes the issue. Thank you!

Do you know when this latest version (on master) will be released to pip? I'm currently using 1.3.1, which is the la

[2017-10-25 12:44] tselepakis opened #79 "IntegrityError response_ms"
Hello all,

I just want to share an issue I had.

There was an exception regarding negative response time. After reading the code a bit I see that you have a justified assumption regarding the [`response_ms` being positive](https://github.com/aschn/drf-tracking/blob/master/rest_framework_tracking/models.py#L18).

The implementation of the duration is straightforward so no surprises there. My solut

[2017-10-27 09:46] triat commented on #78
#80 might fix this one too

[2017-10-27 14:11] tselepakis commented on #78
Hi @triat , I think PR #80 solves that problem, too.

[2017-11-16 00:49] selected-pixel-jameson commented on #67
Ya. I ran into the same issue just using the branch from PIP install. Also took me forever to figure out why this was happening.

[2017-11-16 07:20] triat commented on #67
Maybe @avelis can do a release as there is a bug in the actual version ?

[2017-11-16 13:25] selected-pixel-jameson commented on #67
That would be awesome. @avelis

[2017-11-23 07:34] Salman042 opened #83 "Show hidden values of token and password?"
I am using def-tracking it is working great but i am getting error on class in which i am using password and tokens to perform operations.

Is there any way to avoid hide token and password values ?

[2017-11-24 08:16] triat commented on #83
Hey @Salman042, there is still an error on the repo that you install with pip, please use the one from master from this repo.

Sorry for the inconvenience

[2017-11-28 11:10] bacilla-ru opened #84 "SyntaxError: invalid token"
Exception occurs while presence in request, for example, dates:
[code]

Also, why user can not change SENSITIVE_FIELDS by self? Currently, field named, for example, 'is_secretary' leads to broken request handling.

[2017-12-02 17:32] marcelor opened #85 "Compatibility with Django 2.0"
We need to add the now required on_delete attribute to the user ForeignKey in the BaseAPIRequestLog.

[2017-12-02 17:35] marcelor commented on #85
Note: To get the old behavior (when using on_delete was allowed) we should use on_delete=models.CASCADE

[2017-12-03 21:00] triat commented on #85
It is actually already a warning in 1.11

Let's do a PR for that :)

[2017-12-04 04:58] avelis commented on #79
@tselepakis Thanks for writing in. If you find it useful to create a PR to handle this scenario. I encourage it and I can merge it in.

[2017-12-04 05:12] avelis commented on #84
@bacilla-ru `is_secretary` matches the word `secret` and is therefore cleaned. However, the latest from the repo should only clean a copy and leave the original in-tact.

[2017-12-04 07:30] fichie23 opened #86 "Error when use to track any request data with special character"
I tried to implement the tracking for the endpoint / views that needed `EMAIL` field in the request data, and it failing

[code]

 i've already using the dependencies from repo but it still failing

[2017-12-04 09:37] bacilla-ru commented on #84
@avelis The latest from the repo doesn't work with real request data cause of SyntaxError.

[2017-12-04 10:00] bacilla-ru commented on #86
This is the same as https://github.com/aschn/drf-tracking/issues/84

[2017-12-04 10:53] fichie23 commented on #84
@avelis it's more about handle non alpha-numeric characters i guess

[2017-12-04 10:59] triat commented on #86
Hey @bacilla-ru, do you mean that you put a model field which is an `EMAIL` type ?
I'm not sure how to reproduce it, can you try to provide a bit more information about your code and how you get this error ? thanks

[2017-12-04 11:43] bacilla-ru commented on #86
In my case it is a date field: '1970-01-01'. I think that is programming mistake trying to evaluate request values with ast module to find dicts and lists in them but fall across emails and dates.

[2017-12-05 02:40] fichie23 commented on #86
Another case to mention when i configure my password validation to use special character its also always failing

[2017-12-05 05:00] #86 closed

[2017-12-18 14:15] zenwalker opened #90 "Code looks overcommented"
This may be none of my business, but I think the huge part of comments in this project doesn't make sense because the code is already obvious. They explain nothing and don’t help. Just a noise. My advice is get rid of them. What do you think?

Like this:
<img width="692" alt="screen shot 2017-12-18 at 16 39 39" src="https://user-images.githubusercontent.com/1812128/34109863-f18024cc-e415-11e7-9299

[2017-12-18 16:18] avelis commented on #90
@zenwalker Sounds good to me!

[2017-12-19 14:59] triat commented on #79
@avelis can we put this one as solved ?

[2017-12-19 15:01] triat commented on #78
If it's solved, can we close this one ?

[2017-12-20 01:05] #78 closed

[2017-12-20 01:08] #90 closed

[2017-12-20 01:09] #79 closed

[2017-12-28 05:15] avelis commented on #85
@triat Any other compatibility issues for Django 2.0 that we should address?

[2018-01-03 09:48] triat commented on #85
I did an other PR for compatibility but not related to Django 2.0 #93

[2018-01-03 09:58] triat commented on #53
@avelis I think this one is fixed (if I check the PR which contains the commit #54 )

[2018-01-03 18:01] #53 closed

[2018-01-03 18:02] avelis commented on #53
This issue should be addressed in v1.3.1

[2018-01-03 18:18] avelis commented on #85
Thanks @triat I merged it in!

[2018-01-05 14:04] triat opened #95 "Do a release to fix the actual bug in the version of PYPI"
Hey @avelis,

I think it's would be really great to have a new version released on PYPI as the actual one has an important issue.

Do you think it's possible to do it ?

Thanks

[2018-01-05 20:25] avelis commented on #95
@triat Would a maintenance release work or is it better to do a minor?

[2018-01-05 20:26] avelis commented on #95
@triat Would a maintenance release work or is it better to do a minor?

[2018-01-08 00:11] avelis opened #97 "Reduce build matrix in TravisCI to resume CI builds."
From TravisCI support
[code]
Reducing the build matrix to under 200 builds should resume builds on TravisCI again.

[2018-01-09 11:04] #83 closed

[2018-01-09 11:05] triat commented on #95
I guess a minor is better if you don't mind

[2018-01-14 15:04] tored11 commented on #85
[code]

User.is_anonymous() is no longer supported as method in Django 2.0

[2018-01-14 19:57] triat commented on #85
I'll check tomorrow if I can do an other PR, thanks @tored11

[2018-01-15 16:35] avelis commented on #85
If I understand correctly `if not user.is_authenticated:` is preferred. The second is that these are read only attributes and not method calls.

[2018-01-16 06:38] tored11 commented on #85
@avelis
You are correct.

[2018-01-28 15:54] stevanmilic commented on #67
I can confirm that this issue is solved with new release 1.4.0. I've also spent a lot of time, figuring this out...

[2018-01-29 16:21] ulad commented on #85
@triat any updates on this issue? I am having the same issue `'bool' object is not callable`

[2018-01-29 16:26] avelis commented on #85
@ulad Not yet. The update is pretty straightforward. Just haven't had the time on hand to make a PR for review to do it. I suppose I could just edit the file directly though.

[2018-01-29 16:35] ulad commented on #85
@avelis yes I already did so. Thanks

[2018-01-30 06:23] #95 closed

[2018-01-30 07:00] triat commented on #85
@avelis it seems it requires a bit more things to do (adapt tests) because if you just change it, everything crash. I started a branch to work on and add new tox tests with the new DRF and django2

[2018-02-08 08:15] maurice-g opened #98 "Users not deletable anymore - Change on_delete"
Introducing `on_delete=models.PROTECT` for the `ApiRequestLog` object in response to #91 makes it *impossible to delete users* without deleting every single related API request manually beforehand.

Please change the behaviour to `on_delete=models.CASCADE`, which makes sure that users can be deleted and all related API request logs will be also removed in the process.

Alternatively `SET_NULL` wou

[2018-02-26 15:42] webbyfox commented on #85
I made the pull request for "bool" object is not callable... https://github.com/aschn/drf-tracking/pull/99

[2018-03-19 14:19] witold-gren commented on #72
This is solutions for your task, but I prefer work with class views 😉 it is possible update to work with rewrite `should_log` and `handle_log` custom methods 😀

[code]

[2018-03-29 05:16] #23 closed

[2018-03-29 05:36] triat opened #105 "Makes only one documentation aka README vs ReadTheDoc"
I saw (partially my fault) that the doc on Read the doc the latest changes has not always been put there. I think that having it twice doesn't help to maintain it.

I would suggest we remove one to keep everything up-to-date in only one place.

WDYT

[2018-03-29 05:47] avelis commented on #105
@triat I am fine with just the README.md for now. Seems like less effort to maintain all around. I do like the concept of readthedocs.org but then have to shift all updates from readme,d to the index.md.

I will be honest and say that I keep forgetting to update those docs.

[2018-03-29 05:51] triat commented on #105
@avelis that's my whole point :) I try to keep everything up to date but 2 docs ... Let's keep readthedocs aside for now, we can even remove it and take it back from the git history if needed.

Do you agree?

[2018-03-29 05:52] avelis commented on #105
Ok sounds good!

[2018-04-12 23:39] brett-matthews opened #107 "Log Construction"
More of a question, rather than an issue. Why is the majority of the log construction performed in finalize_response() as opposed to initial() ?

Im looking to log the request when an unexpected exception is thrown, having the log constructed in initial() will pack up all the request information.

[2018-04-13 15:48] avelis commented on #107
Originally, the actual creation of the APIRequestLog instance was first done in the initial. It was moved over time to the finalize_response method. I would have to dig into the commit history on the reasons. But it was merged in as a PR from contributors to this library who felt moving it to finalize_response led to some improvements to the way the mixin worked.

If I had to guess, failing last h

[2018-05-02 12:37] amankumarjain opened #111 "LogginMixin not gets called with ModelViewSet in Django 2.0.4"
Django: 2.0.4, python: 3.5.3

class BookingViewSet(viewset.ModelViewSet, LoggingMixin):
    def get_queryset(self):
     return Booking.objects.all()

    def get_serializer_class(self):
     return BookingSerializer

After making multiple calls to this api viewset, no records added in API REQUEST LOGS.

[2018-05-02 15:59] avelis commented on #111
@amankumarjain Have you tried the following:
[code]
The readme examples have the `LoggingMixin` first. Not sure logging will work if `ModelViewSet` is before the `LoggingMixin`.

[2018-05-03 03:36] jeffryadityatama opened #112 "Migrations conflict"
I'm using Django 1.11.7, and using `drf-tracing` at latest master branch (b753c5e).
When I run `python manage.py makemigrations`, I got the following conflict error:
[code]
I can solve it by running `python manage.py makemigrations --merge` but thats a bit inconvenient when using travis, since I need to run `makemigrations` every time the build process running. Is there any plan to fix this?

[2018-05-03 03:38] avelis commented on #112
@jeffryadityatama Would PR #109 address your issue?

[2018-05-03 03:43] jeffryadityatama commented on #112
@avelis Aha, that should fix my issue. Any plan to merge that PR?

[2018-05-03 03:45] avelis commented on #112
@jeffryadityatama just merged it in.

[2018-05-03 03:46] jeffryadityatama commented on #112
@avelis Thanks for your fast response! Let's close this issue

[2018-05-03 03:46] #112 closed

[2018-05-07 02:55] palespring opened #113 "When I get an api and there will always be 2 logs at a time"
![_20180507105445](https://user-images.githubusercontent.com/32152214/39682912-150cb300-51e5-11e8-8721-c67ac747a6be.png)

[2018-05-24 11:11] amankumarjain opened #114 "How to do drf tracking write in async thread"
is it possible to write log with async tasking i dont want my view thread to get blocked with drf tracking operation or to write in db.

[2018-05-24 12:30] triat commented on #114
Hello @amankumarjain,
That's actually a really nice question that I tried to solve some times ago. My conclusion was:
1. Using celery is not really a solution (at least for me as we are using SQS as a queue system) because response time of the DB ~= response time of SQS. So not a solution
2. Async python3 could be a way to do it, for I don't remember which reason, we could consider this solution s

[2018-06-06 18:26] avelis commented on #85
@luvpreetsingh You can try install the latest from source

[2018-06-06 18:32] luvpreetsingh commented on #85
Thank you!

[2018-06-19 15:12] singhravi1 opened #115 "django 2 compatible"
We have to make this compatible with django 2.
There are various things that are deprecated, such as, is_authenticated is not a function anymore.

[2018-09-21 07:03] YYJeffrey commented on #62
I also encountered the same problem, when i changed `response.rendered_content` to `response.getvalue()`, the mistakes still exist, so i set `response` field to be `''`, i hope this will help you.

[2018-10-09 11:11] silasserner commented on #115
Hello, when will you release a version containing these changes.
Regards
Silas

[2018-10-11 12:13] triat commented on #115
I think we would require the help of @avelis

[2018-10-17 06:14] #105 closed

[2018-10-23 18:08] avelis commented on #115
Release made: https://pypi.org/project/drf-tracking/1.5.0/

[2018-10-23 18:08] #115 closed

[2018-10-26 06:00] anuj9196 opened #122 "Can we track django-oauth-toolkit client?"
I'm using **Django-OAuth-Toolkit** to allow client based authorization.

I have set different client for different platforms. Like for Android, a different client is used to generate the access token and for the web, a different client is used to generate the access token.

I want to log which the client is making the request.

[2018-10-26 13:17] triat commented on #113
Hello @palespring,

it is pretty hard to know if it is a bug from DRF-tracking or not, I'd say it is not as I don't see it before and I actually don't know how it would be possible in the current setup.

If you need more help, we would require more information about what you are doing in your code. You can also try to debug it by using PDB to go step by step through your code and see where it is c

[2018-11-02 16:08] rnegron commented on #38
None of the fixes mentioned here applied to my scenario with this bug... In my case, the following line seems to be the problem: https://github.com/aschn/drf-tracking/blob/5acbd207c06897c9ba65bfe141c8c886eb6fc508/rest_framework_tracking/base_mixins.py#L29

Removing that line and letting the `super()` call take place correctly sets up the `accepted_renderer` property on the request (via a `perform_

[2018-11-04 05:02] joeldhenry opened #125 "Failed Clean data when uploading file as form-data"
[code]

[2018-11-13 10:09] umr55766 opened #126 "Only last params value is captured if multiple query params are sent with same key"
**Subject** : When multiple query params are passed with same key, only the last query params is captured and rest all are ignored/dropped.

**Steps to reproduce** :
1. Install this library in any api view
2. Make a request to that view with multiple query params of same name/key.
_Example_ : /api/v1/index/?name=A&name=B&name=C&name=D

**Expected behaviour** : Query params field should record `{"n

[2018-11-17 21:47] rnegron commented on #125
It seems likely that the file you are trying to upload is encoded as UTF-16 or similar. In the `_clean_data` function, there is a line which tries to decode the incoming request data as UTF-8. That line is the cause of your issue.

I'm wondering what the best solution to fix this issue in the code is? Attempt to auto-detect encoding using chardet? Silently fail the data cleaning? Would be willing

[2018-11-21 16:43] singhravi1 opened #128 "why this line is needed?"
Hi everyone,

Can anyone please explain why the following line is needed?

https://github.com/aschn/drf-tracking/blob/57344c65fe39923ab2debbf581d9fd0dbc46b2fa/rest_framework_tracking/base_mixins.py#L50

Thanks

[2018-11-21 17:05] freddez opened #129 "UnicodeDecodeError on python 2.7 / django 1.11"
On last 1.15 version with python 2.7, response data is utf-8 encoded and causes a UnicodeError in bas_mixins.py:63 :

[code]

I think you should add the utf-8 encoding parameter, at least in python2 :
[code]

[2018-11-21 20:06] avelis commented on #129
@freddez If you can make a PR with this check I would be happy to take a look and potentially merge.

[2018-11-21 20:08] avelis commented on #128
The oldest origin point I could find is llinked below. I presume it allows the middleware to go up the change to continue on before working on actual logging.

https://github.com/aschn/drf-tracking/blame/5425159ec6639101c512c7b8818d5f1573b2e1ef/rest_framework_tracking/mixins.py#L87

[2018-11-21 20:17] singhravi1 commented on #128
But it is in the base class and basically overriding itself?

[2018-11-21 20:44] singhravi1 commented on #128
Oh, okay. Now i get it. I was confused as i did not know about the finalize_rezponse method in APIView and the super was called on Base Exceprion class which is the current class only.

[2018-11-21 20:47] #128 closed

[2018-11-23 12:16] josefkorbel commented on #125
Also facing this issue while serving audio files.

[2018-11-28 22:57] rrauenza commented on #129
Just hit this today.  Wish I could just turn off response logging/parsing.  Thanks for the fix.   I look forward to the release...

[2018-11-28 23:09] rrauenza opened #133 "Feature Request: Skip logging the response"
I'd like to not log the response.   I could override `handle_log` to NULL it out, but that means I'm still doing the `_clean_data` on it.

What do you think of adding a `get_response` method to the `BaseLoggingMixin` that one could override to just return None?

I can do a PR, but I thought perhaps you might want to do this with all of the possible fields instead of a one-off -- so would like your

[2018-12-20 14:13] RuslanButko commented on #38
[code]

This solution works for me. The main idea replace

`self.log['data'] = self._clean_data(request.data)`
and run parent super
`super(BaseLoggingMixin, self).initial(request, *args, **kwargs)`

[2018-12-25 11:00] mrdaliri opened #134 "PIP (pypi) is not updated"
PyPi version updated on October 23, but latest commit on `master` branch is made on November 24.

[2019-01-18 12:32] manelclos commented on #134
+1 on a new release, we are using master because version 1.5.0 was failing when uploading files.

[2019-02-07 09:29] simone6021 commented on #134
+1 same scenario here.

[2019-03-09 20:29] jameschristopher commented on #134
+1

[2019-03-11 08:26] Krisnadi opened #136 "Add city & country data to the log"
Can I make an enhancement to this package by adding more information to the request log such as city & country by the requester IP address?
I'm going to integrate it with [GeoIP](https://docs.djangoproject.com/en/1.11/ref/contrib/gis/geoip/).

[2019-04-17 16:31] marceloleiva commented on #134
+1

[2019-04-17 16:55] marceloleiva commented on #111
Django 2.0.8, python 3.6.8, DRF 3.8.2

[code]
i have same issue

[2019-05-17 15:12] vhin0210 opened #139 "Some requests are not recorded"
I can't find some requests and I have a feeling it's because of the path field max length is too small?

[2019-05-23 09:11] beckedorf commented on #134
A new release would be nice. Especially considering compatibility with Django 2.0 ( #85 )

[2019-06-03 11:23] bashu commented on #134
+1

[2019-06-06 13:06] wbloos commented on #139
I can confirm that this is the case for me. The path can get very long in this particular application. This results in a database error (postgresql):

And the only field that is 200 long wihich has a value that doesn't fit is "path".

drf-tracking seems to handle this by not inserting the data.

Is there a workaround to this?
It should be possible to change the datatype for the "path" field from v

[2019-06-10 13:11] gryevns commented on #139
https://github.com/aschn/drf-tracking/pull/140

[2019-06-24 04:02] niubencoolboy opened #141 "requested_at and remote_addr fields in base_model are not null"
In my case, when has IP white lists, the program can't get the remote_addr. But in the base_model, the field is setted to not null.
`remote_addr = models.GenericIPAddressField()`
the requested_at is the same.
`requested_at = models.DateTimeField(db_index=True)`

[2019-06-24 04:04] niubencoolboy commented on #141
So, I changed the two codes to blew：
`from django.utils.timezone import now`

`requested_at = models.DateTimeField(default=now, db_index=True)`

`remote_addr = models.GenericIPAddressField(null=True, blank=True)`

[2019-07-23 12:17] robertour commented on #133
If you are looking for saving space in your database, you could override the `_clean_data` method instead. ***This will not only nullify the response but also the parameters and data columns***:

[code]

---

A more detailed version will overwrite the entire finalize_response:

[code]

I do agree that it would be nice if this part of the code is factorized so that one can more easily override the

[2019-10-22 20:11] lingster opened #142 "Update tox tests to include django 2.2.6 and drf 3.10.3 versions"
Hi, I'd like to submit a PR to update this package.
Also would you like some help to push a new version to pypi?

[2019-10-22 20:56] avelis commented on #142
@lingster I can do my best. I haven't pushed a release in a while but can look into it.

[2019-10-23 08:25] lingster commented on #142
@avelis thanks for replying, created the following PR: #143. Will confirm once everything is ready. Pushing a release should also resolve #134

[2019-10-23 14:14] lingster commented on #142
@avelis I've also included in the PR fix and tests for an issue where the query params are not stored for PUT/POST/PATCH requests. could you kindly include this for the release?

[2019-10-23 15:18] avelis commented on #142
@lingster Can you look into why there is one failing test. Looks to be only on one configuration. If it's benign I can merge it in.
https://travis-ci.org/aschn/drf-tracking/jobs/601860781?utm_medium=notification&utm_source=github_status

[2019-10-23 15:25] lingster commented on #142
@avelis that should be fixed. I don't have multiple python versions on my system so i am relying on the CI to confirm everything is working.

[2019-10-27 15:01] lingster commented on #136
@Krisnadi this looks like a good idea. From the django docs it does say that GeoIP is deprecated in favor of [GeoIP2](https://docs.djangoproject.com/en/1.11/ref/contrib/gis/geoip2/). Have you started on this or is there a PR?

[2019-11-29 08:39] #69 closed

[2019-11-29 11:20] singhravi1 opened #144 "Can we publish a new release?"
Hi,

The last release was more than a year ago. Since then, there were many fixes and updates in the library.
Can we please release a new stable version?

[2020-01-31 13:22] lingster commented on #144
@avelis : would it be possible to schedule a release? If you are snowed, I would gladly help as my fix #142 has not yet been released. Thanks in advance.

[2020-01-31 15:45] avelis commented on #144
@lingster I have been having trouble finding time to continue pushing releases out. Any help would be greatly appreciated.

[2020-02-02 09:51] lingster commented on #144
@avelis : more than happy to help. If you can set me up with (maintainer) rights to publish, I can take a look in the next day or so, I can also add some release notes to simplify deployment next time too.

[2020-02-03 16:14] avelis commented on #144
@lingster I am actually not the owner and forgot to follow up and get ownership transfer years ago. You will have to reach out to @aschn about transfer of ownership or at least maintainer status.

[2020-02-03 19:11] lingster commented on #144
@avelis on pypi you are setup as a maintainer of drf-tracking: https://pypi.org/project/drf-tracking/
I think you should be able to add me from there.

[2020-02-03 19:24] lingster commented on #144
@aschn : could you kindly help to add me as maintainer to assist with the upkeep of this project?

[2020-02-13 18:12] jdreben commented on #144
+1

[2020-02-14 15:58] lingster commented on #144
@avelis : could you kindly permission me to deploy onto pypi? If not may I suggest that we fork this project+rename so that a new version could be published on pypi?

[2020-02-14 16:23] avelis commented on #144
@lingster Yes. Just fork it and redirect people to it. I will even accept a README.md update to say that.

[2020-02-20 17:57] lingster commented on #144
@avelis : ok so I have forked the repo and renamed as follows: https://github.com/lingster/drf-api-tracking. Currently in the process of getting all the CI working so it can be ready to accept PRs etc

[2020-02-21 12:34] lingster commented on #144
@avelis : I have completed the fork and there is a new version 1.6.0 of drf-api-tracking which contains all changes so far. Could you kindly update the README and point people to the new repo?

[2020-02-21 15:43] avelis commented on #144
@lingster Ok. Change made. Godspeed!
https://github.com/aschn/drf-tracking/blob/master/README.md

[2020-02-21 15:45] avelis commented on #144
For anyone else who lands here [work as continued on in a fork now named drf-api-tracking](https://github.com/lingster/drf-api-tracking).
Happy Tracking!

[2020-02-21 16:58] lingster commented on #144
@avelis : thanks very much!

[2020-03-10 15:08] drdreff opened #150 "Azure proxy config throws psycopg2 exception"
I'd really like to figure out a workaround for this issue. I'll put what I find here for others.
[code]

[2020-03-10 22:22] lingster commented on #150
is it because "24.23.134.119:43398" is not a valid internet address? Perhaps it should be: "24.23.134.119" ?

[2020-03-11 19:34] drdreff commented on #150
That string is invalid, yes. I'm trying to trace back where in the proxy configuration the port number (`43398`) is being added. I'm not sure if the fix belongs in drf-tracking or ... ? The symptom is that drf-tracking somewhat silently fails.

[2020-03-12 11:59] lingster commented on #150
Just to let you know that this project has moved over to: https://github.com/lingster/drf-api-tracking as the original owner does not appear to be maintaining this. If you'd like me to take a deeper dive, can you raise an issue in the new repo?

The stack trace does point to an issue with drf-tracking. Do you have details of the request and query string that you could share to help reproduce the i

[2020-03-17 18:46] drdreff commented on #150
I will try to create a good test since I've only been getting this in Azure. I'l also head over to the new project

MD

[2020-03-18 09:19] lingster commented on #150
Ok great, we're holding an online sprint(https://www.meetup.com/Python-Sprints/events/269207483/) to hopefully address some of the issues in the drf-api-tracking project. If you get your test ready before monday, then I'm sure there maybe some able to help resolve the issue.

[2020-03-22 22:49] drdreff commented on #150
please let me know what other help I can provide to help address this. I'd love to find a solution or workaround.

[2020-07-01 08:11] Kiel-Hyre commented on #38
hi im late to party, but I had this bug too.

My Code is just a simple inherit of LoggingMixin
No fancy overriding since I just want to use the default.

So I encounterd this bug,  when I tried to upload a gif with 4.6mb   ... has no attribute 'accepted_renderer.'

views.py
[code]
I tried to delete the LoggingMixin from the code. It works tho. But why would I do that  since I want the functionalit

[2020-07-01 08:58] Kiel-Hyre commented on #38
hi, it seems im late to the party.
Encountered this bug too.
1. Scenario : Uploading 4.6mb gif
2. Exception Value: Request 'object' has no attribute 'accepted_renderer.'
3. Exception Location: .../python3.6/dist-packages/rest_framework/request.py in __getattr__, line 411

Code:

views.py

[code]
I do not do anything overriding since I want to use the default.
But the thing here is when i tried to

[2021-03-23 02:07] gagreen opened #156 "Django version 3.x has not "django.utils.six""
So, raise **ModuleNotFoundError: No module named 'django.utils.six'**

in, base_models.py
**from django.utils.six import python_2_unicode_compatible**

how about change
**from six import python_2_unicode_compatible**
with install **six** moudle

[2021-03-23 15:11] avelis commented on #156
@gagreen This project is no longer active. Please go to https://github.com/lingster/drf-api-tracking